body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #0f172a;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}

/* Nav hover underline */
.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: white;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Home */
.home {
  text-align: center;
  padding: 80px 20px;
  animation: fadeIn 1s ease-in-out;
}

.profile-img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  animation: fadeIn 1.2s ease-in-out;
}

/* Resume Button */
.btn {
  display: inline-block;          /* IMPORTANT */
  background: #0ea5e9;
  color: white;
  padding: 10px 20px;
  margin-top: 25px;               /* ⬅️ Button text nundi koncham kindaki */
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;          /* underline remove */
  font-weight: bold;
  transition: 0.3s;
  border: none;
}

.btn:hover {
  background: #0284c7;
  transform: scale(1.05);
}

/* Sections */
.about,
.skills,
.projects,
.contact {
  text-align: center;
  padding: 80px 20px;
  animation: fadeIn 1s ease-in-out;
}

/* Skills */
.skill-list {
  margin-top: 20px;
}

.skill-list span {
  background: #0ea5e9;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 20px;
  display: inline-block;
}

/* Projects */
.project-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.project-card {
  padding: 25px;
  border-radius: 12px;
  width: 250px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Project Buttons */
.btn-group {
  margin-top: 15px;
}

.project-card button {
  padding: 6px 12px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: #111;
  color: white;
  cursor: pointer;
}

/* Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}

/* Contact Form */
.contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 10px;
}

.contact input,
.contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  background: #0ea5e9;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.contact {
  text-align: center;
  padding: 40px;
}

.contact p {
  margin: 10px 0;
}

.contact-links a {
  margin: 10px;
  color: #0ea5e9;
  text-decoration: none;
  font-weight: bold;
}